*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Commom */

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #ffffff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right;
}


.btn {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 16px;
    border: none;
}

.btn:hover {
    color: #000000;
    cursor: pointer;
    background-color: #ccc;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-haft {
    width: 50%;
}


.col-third {
    width: 33.33333333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

/* .contact-form .form-submit-btn {
    background-color: #000000;
    color: #ffffff;
    border:1px solid #000000;
    padding: 9px 15px;
    float: right;
} */

/* Main */

#mainscreen {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
   
    display: inline-block;
}

#nav li {
    position: relative;
}
#nav > li > a {
    text-transform: uppercase;
    color: #ffffff;
    font-size:  20px;
    font-weight: 540;
}

#nav li a {
    text-decoration: none;
    line-height: 68px;
    display: block;
    padding: 0 30px;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000000;
}

#nav .subnav {
    left: 0;
    top: 100%;
    display: none;
    min-width: 180px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 10px #3f3f3f;
}

#nav .subnav a{
    color: #000000;
    padding: 0 16px;
    font-size: 18px;
    line-height: 46px;
}
 
#nav .nav-arrow-down {
    font-size: 18px;
    padding-left: 5px;
}

#header .search-btn {
    float: right;
    padding: 0 24px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #ffffff;
    font-size:  25px;
    line-height: 68px;
}

.slideshow {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    overflow: hidden;
  }
  
.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow .text-content {
    position: absolute;
    color: #ffffff;
    bottom: 47px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow .text-heading {
    font-weight: 500;
    font-size: 36px;
}

.slideshow .text-description {
    font-size: 22px;
    margin-top: 25px;
}


#content {

}

#content .content-section {
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4px;
}

#content .section-shop-staff {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-top: 30px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;

}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}

#content .products-list {
    margin-top: 48px;
    overflow: hidden;
}

#content .products-name {
    font-size: 15px;
    font-weight: 600;
}

#content .products-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 6px;
}

.tour-section {
    background-color: #000000;
}

.sale-list {
    background-color: #ffffff;
    margin-top: 40px;
}

.sale-list li {
    color: #757575;
    font-size: 15px;
    list-style-type: none;
    padding: 11px 40px;
    border-bottom: 1px solid #ddd;
}

.sale-list .product-list {
    color: #000000;
    font-size: 20px;
    list-style-type: none;
    padding: 11px 40px;
    font-weight: 550;
    margin-left:  8px;
    border-bottom: 1px solid #ddd;
}

.sale-list .sold-out {
    color: #ffffff;
    background-color: #f44336;
    margin-left: 16px;
    padding: 3px 4px;
}

.sale-list .quantify-list {
    float: right;
    color: #000000;
    width: 24px;
    height: 24px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
    margin-right: 28px;
}

.sale-list .quantify {
    float: right;
    color: #ffffff;
    width: 30px;
    height: 30px;
    background-color: #000000;  
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    margin-top: -6px;
}

/* places */

#content .places-list {
    margin-top: 20px;
}

.content-section .line-width {
    margin-top: 15px;
    /* height: 5px; */
    /* background-color: #ffffff; */
    border: #ffffff solid 1px ;
}
.content-section h1 {
    margin-top: 30px;
    color: #ffffff;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #ffffff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-price {
    margin-top: 15px;   
    color: #d60000; 
    font-weight: 750;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.5;
}   

.rating {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}
  
  /* Thiết lập kiểu cho sao được chọn */
.rating .star.checked,
.rating .star:hover {
    color: gold;
}

.contact-content{
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.ct-name .ct-email {
    padding-right: -8px;
}

.ct-message {
    padding-right: -8px;
}


#footer {
    padding: 64px 16px;
    text-align: center;
}

.map-section img{
    width: 100%;
}

#footer .socials-list {
    font-size: 38px;
}

#footer .socials-list a{
    color: #5e5d5d;
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    opacity: 0.7;
    cursor: pointer;
}


#footer .copyright {
    color:  #5e5d5d;
    font-size: 20px;
    margin-top: 14px;
}

#footer .copyright a{
    color:  #5e5d5d;
    font-size: 20px;
}

#end {
    min-height: 80px;
    padding: 10px;
}

#end .note-end {
    text-align: center;
    font-size: 15px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background-color: #ffffff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFateIn ease 0.5s;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;

}

.open {
    display: flex;
}

.modal-close:hover {
    opacity: 1;

}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
}

.modal-icon {
    margin-right: 17px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-laptop {
    background-color: #009688;
    color: #ffffff;
    border: none;
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 8px;
    text-transform: uppercase;
}

#buy-laptop:hover {
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196f3;
}

@keyframes modalFadeIn{
    form{
        transform: translateY(-150px);
        opacity: 0;
    }

    to{
        transform: translateY(0); 
        opacity: 1;
    }
}

